.contacts p {
  margin-bottom: 22px;
}

.phone-number, .email {
  text-align: center;
  text-decoration: none;
  border: 1px solid #000000;
  border-radius: 20px;
  padding: 8px 20px;

  font-size: 17px;
  color: #003459;
}

.last-field {
  margin-left: 60px;
}
