.event {
  margin-right: 30px;
}

.event-image {
  float: left;
  box-shadow: 0 0 5px 2px;
  margin-right: 10px;
  border-radius: 30px;
}

.event-image:after {
  content: "";
  display: block;
  clear: both;
}

.event p {
  margin-top: 10px;
}

.event p:after {
  content: "";
  display: block;
  clear: both;
}
