.footer {
  position: fixed;
  width: 800px;
  left: 0;
  bottom: 0;

  background: rgba(0, 120, 201, 0.9);
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

.sections {
  margin-left: -2px;
  padding: 6px 0;
}

.sections li{
  display: inline;
  margin-right: 40px;
  padding-left: 40px;
  border-left: 2.2px solid black;

  font-size: 22px;
  letter-spacing: 1.2px;
}

.section-link {
  text-decoration: none;
  color: #000;
}

.sections .ski-resort-logo {
  color: #CC0E0E;
}

@media (max-width: 640px) {
  .sections li {
    margin-right: 5px;
    padding-left: 5px;
  }
}
