.container {
  width: 100%;
}

.container-1-3 {
  width: 33.33%;
  float: left;
}

@media (max-width: 1150px) {
  .container-1-3 {
    width: 100%;
    margin-bottom: 30px;
    margin-left: 10px;
  }
}

@media (max-width: 640px) {
  .container-1-3 {
    float: none;
    width: auto;
  }
}
