.intro {
  background-color: rgba(0, 0, 0, 0);
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll, fixed;
  background-position: 0 0%, center top;

  padding: 36px;
  margin-top: 76px;
}

.intro .text-large {
  color: #ffffff;
}

.intro .title-large {
  font-size: 57px;
  max-width: 460px;
  margin: 0 auto 26px auto;
  color: #ffffff;
}

@media (max-width: 640px) {
  .intro .container {
    padding: 24px 0;
  }
}
