.reviews {
  background: #F4F4F4;
}

.review {
  float: left;
  width: 100%;
  margin-bottom: 20px;
}

.review p {
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  padding-right: 20px;
  text-overflow: ellipsis;
}

.review-image {
  float: left;
  width: 60px;
  border-radius: 100%;
  margin-right: 7px;
}

.more-reviews {
  color: #003459;
  font-size: 20px;
}
