body {
  font-family: "Trebuchet MS", sans-serif;
  font-size: 16px;
}

.title-large {
  font-size: 55px;
  margin-bottom: 18px;
}

.title-medium {
  font-size: 28px;
  margin-bottom: 16px;
}

.title-small{
  font-size: 18px;
  margin-bottom: 6px;
}

.text-center {
  text-align: center;
}

