body {
  font-family: Noto Sans, sans-serif;
  font-size: 17px;
  color: #404040;
}

.title-large {
  font-size: 47px;
  margin-bottom: 18px;
  color: #003459;
}

.title-medium {
  font-size: 26px;
  margin-bottom: 16px;
}

.title-small{
  font-size: 18px;
  margin-bottom: 6px;
}

.text-large {
  font-size: 26px;
  letter-spacing: 1.2px;
  margin-bottom: 16px;
}

.text-center {
  text-align: center;
}

